* {
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  body {
    padding: 1rem 6rem;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  body {
    padding: 1rem 4rem;
  }
}

@media (max-width: 767px) {
  body {
    padding: 1rem 2rem;
  }
}
