* {
  margin: 0;
  padding: 0;
}

.searchBar-wrap {
  background-color: #f0f0f0;
  width: fit-content;
  margin: 2.5rem auto 4rem auto;
  padding: 0.5rem;
  border-radius: 5px;
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
}

.searchBar-wrap input {
  background-color: #f0f0f0;
  width: 40vh;
  height: 5vh;
  outline: none;
  border: none;
  font-size: larger;
}

.searchBar-wrap span {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.searchBar-wrap button {
  font-weight: bolder;
  outline: none;
  border: none;
  width: 10vh;
  height: 5vh;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #0f52ba;
  color: #fff;
}